<p>
    This is the <a href="https://octobercms.com">October CMS</a> demo theme that explores the core features. By default, October CMS uses flat file themes where each theme is a set of files. Each page has a corresponding file that you can edit with your favourite code editor and manage with your favourite Version Control System. You will find files used by this theme in the themes/demo directory of your installations.
</p>
<h1>
    This is a Header
</h1>
<p class="text-center">
    This is a Center Content
</p>