
<?php $hid = 'EE' . uniqid(); ?>
<?php $fid = 'FF' . uniqid(); ?>

<script>

var <?= $hid ?>;
var <?= $fid ?>;
	
	function htmlsav() {


	 <?= $hid ?> = Editor;	
	 //Editor = null;
	 <?= $fid ?> = formid;	
	 //formid = null;
}



function deferh(method) {
  if (window.Editor) {
      
   
      method();
    }
  else
      setTimeout(function() { deferh(method) }, 500);
}

deferh(htmlsav);


</script>
<div class="apply-button">
	<button  type="button"onClick="

var styleold= $('#' + <?= $fid ?> + '-field-viewBag-page_builder_styles').val();
	
	$.oc.flashMsg({'text': 'HTML Updated','class': 'success','interval': 3});<?= $hid ?>.setComponents($('#' + <?= $fid ?> + '-field-viewBag-page_builder_html').val());
	

	<?= $hid ?>.setStyle(styleold);

	 " class="btn btn-primary" data-disposable="">Apply</button>

<p class="apply-button">&nbsp;&nbsp;After updating the code, custom layer names will be lost!</p>

</div>

