<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler"><span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a href="/team" class="nav-link">Link</a></li>
            <li class="nav-item dropdown">
                <div aria-labelledby="navbarDropdown" class="dropdown-menu"><a href="#"
                        class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Something else here</a>
                </div>
            </li>
            <li class="nav-item"></li>
        </ul>
        <form class="form-inline my-2 my-lg-0"></form>
    </div>
</nav>