<?php $id = substr($this->getId('textarea'), 16) . time(); ?>

<?php  $editorname = uniqid(); ?>


<style>
  .gjs-editor-cont {
    width: 100% !important;
    height: 100% !important;
    
  }
</style>

<script type="text/javascript">

  var comp = $('#<?=$formid?>-field-viewBag-page_builder_components').val();
    var oldstylecss = $('#<?=$formid?>-field-viewBag-page_builder_styles').val();
    var oldscriptss = $('#<?=$formid?>-field-viewBag-page_builder_scripts').val();

    function mySave<?=$editorname?>() {


      editor<?=$editorname?>.setComponents($('#<?=$id?>').val());

      var text = $('#<?=$id?>').val();
      text = text.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");
      $('#<?=$id?>').val(text);


      $("#savecod<?=$id?>").html("Ok");

      function sayHi() {
        $("#savecod<?=$id?>").html("Apply");
        var text = $('#<?=$id?>').val();
        text = text.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");
        $('#<?=$id?>').val(text);

      }

      setTimeout(sayHi, 1000);

    }

    function myFunction<?=$editorname?>() {
      var x = document.getElementById("cod<?=$id?>");
      var y = document.getElementById("gjs<?=$id?>");
      var z = document.getElementById("linkcod<?=$id?>");

      if (x.style.display === "block") {
        x.style.display = "none";
        z.innerHTML='Builder'
        $("#savecod<?=$id?>").hide();
      } else {
        x.style.display = "block";
        z.innerHTML='Text Editor'
        $("#savecod<?=$id?>").show();
      }
    }
    </script>

    <div class="switch-link " style="display: none">
    <a id="linkcod<?=$id?>" style="text-decoration: none" class="cod-link" href="#"  onclick="myFunction<?=$editorname?>()">Builder</a>
    <a id="savecod<?=$id?>" style="text-decoration: none" class="cod-link" href="#" onclick="mySave<?=$editorname?>()" >Apply</a>
    </div>
    <div style="display: none" class="cod" id="cod<?=$id?>">
    <textarea  style="display: none" class="code-area" name="<?=$name?>" id="<?=$id?>" >
    <?=e($value)?>
    </textarea>
    </div>



    <div id="gjs<?=$id?>">

    </div>

    <script type="text/javascript">

    var CustomBlock=null ;
    var Editor=null;
    var formid=null;


    function  loadeditor() {

      //add page scripts 
      var scriptload= $('#' + '<?=$formid?>' + '-field-viewBag-page_builder_scripts').val();      
      $('#' + '<?=$formid?>' + '-field-viewBag-page_builder_scripts').val('');

      $("#savecod<?=$id?>").hide();

      var t = <?php $j=json_encode($value); if($j!='null') echo $j; ?> + scriptload;
      var editor<?=$editorname?> = grapesjs.init({
       container : '#gjs<?=$id?>',
   //fromElement: true,
       components: t,
       protectedCss: '',
       colorPicker: { appendTo: 'parent', offset: { top: 20, left: -175 } },   
       plugins: [PB4, PB4Blog, PB4snippets,PB4temptales,PB4landingpages, 'grapesjs-custom-code','grapesjs-tui-image-editor', 'grapesjs-style-gradient', 'grapesjs-style-filter', PB4October, 'grapesjs-plugin-export', 'grapesjs-blocks-bootstrap4', PB4CustomBlocks],
       pluginsOpts: {    
        [PB4temptales] : {
      path : 'https://b4builder.pkurg.ru/data/templates/'
    },
    [PB4landingpages] : {
      path : 'https://b4builder.pkurg.ru/data/landing-pages/'
    },
    'grapesjs-custom-code': {
      blockCustomCode: { category: 'Bootstrap4 Basic'}
    },
    'grapesjs-tui-image-editor': {
      upload: true
    },  
    'grapesjs-style-gradient': {},
    
    [PB4October] : {      
      snippets : <?= json_encode($snippets, true) ?>,
      partials : [        
      <?php  
      foreach ($partials as $value) {   
       echo   "'" . $value . "',";
     }
     ?>
     ],
     contents : [        
     <?php  
     foreach ($contents as $value) {   
       echo   "'" . $value . "',";
     }
     ?>
     ]
   },
 },
 allowScripts: 1,
 storageManager: {
      id: 'gjs-',             // Prefix identifier that will be used inside storing and loading
      type: 'local',          // Type of the storage
      autosave: true,         // Store data automatically
      // autoload: true,         // Autoload stored data on init
      autoload: false,         // Autoload stored data on init
      stepsBeforeSave: 1,     // If autosave enabled, indicates how many changes are necessary before store method is triggered
      storeComponents: true,  // Enable/Disable storing of components in JSON format
      storeStyles: true,      // Enable/Disable storing of rules in JSON format
      storeHtml: true,        // Enable/Disable storing of components as HTML string
      storeCss: true,         // Enable/Disable storing of rules as CSS string
    },     
    canvas: {

    
    <?php if($buildercanvasassets) { ?>
    styles: [
    <?=$builder_styles?>
    ],
    scripts: [
    <?=$builder_scripts?>
    ]

    <?php } else { ?>

      styles: [        
      '<?=$curdir?>/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/css/bootstrap.min.css',
      '<?=$curdir?>/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/css/styleineditor.css?v=3'          
      ],
      scripts: [
      '<?=$curdir?>/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/jquery.min.js',          
      '<?=$curdir?>/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/bootstrap.min.js',
      '<?=$curdir?>/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/popper.min.js',          
      ],

      <?php } ?>

    },
    assetManager: {
      storageType   : '',
      storeOnChange  : true,
      storeAfterUpload  : true,
      upload: '<?=url($mediapath)?>',
      assets      : [

      <?php  
      foreach ($files as $value) {   
       echo "'" . $path . '/' . $value . "',";
     }
     ?>
     ],
     uploadFile: function(e) {
      var mr;
      var files = e.dataTransfer ? e.dataTransfer.files : e.target.files;
      var formData = new FormData();
      for(var i in files){
        formData.append('file-'+i, files[i])
      }
      $.ajax({
        url: '<?=url('pagebuilderuploader')?>',
        type: 'POST',
        data: formData,
        contentType:false,
        async: false,  
        crossDomain: true,
        dataType: 'json',
        mimeType: "multipart/form-data",
        processData:false,
        success: function(result){
          var myJSON = [];
          $.each( result['data'], function( key, value ) {
            myJSON[key] = value;
          });
          var images = myJSON;  
          editor<?= $editorname ?>.AssetManager.add(images);

          mr = result;
        }
      });

      return mr;
    },
  },
});



editor<?= $editorname ?>.on('load', (editor) => {
  
  //set default tab
  var openBl = Editor.Panels.getButton('views', 'open-blocks');
  openBl && openBl.set('active', 1);

  
  var noscript = [];

  comparray = JSON.parse(comp);   
  
  comparray.forEach(element => {

    if (element.tagName !='script') {
      
      noscript.push(element);
      
    }    

  });

  if (comp) {
    editor.setComponents(noscript);
    editor.addComponents(oldscriptss);    
    editor.setStyle(oldstylecss);           

  }

var editorcss = editor<?= $editorname ?>.getCss();
$('#<?=$formid?>-field-viewBag-page_builder_styles').val(editorcss);

});


editor<?= $editorname ?>.StyleManager.addProperty('decorations', {
  name: 'Gradient',
  property: 'background-image',
  type: 'gradient',
  defaults: 'none'
});

editor<?= $editorname ?>.StyleManager.addProperty('extra', {
  name: 'Filter',
  property: 'filter',
  type: 'filter',
  full: 1,
});

editor<?= $editorname ?>.on('block:drag:start', model => $( ".gjs-pn-logo-Panel" ).show());
editor<?= $editorname ?>.on('block:drag:stop', model => $( ".gjs-pn-logo-Panel" ).hide());

formid = '<?=$formid?>';

editor<?= $editorname ?>.setStyle($('#<?=$formid?>-field-viewBag-page_builder_styles').val());


CustomBlock = editor<?= $editorname ?>.BlockManager;
Editor = editor<?= $editorname ?>;

<?php  if ($octobermedia) { ?>


//media assets
editor<?= $editorname ?>.Commands.add('open-assets', {

 run(editor, sender, opts = {}) {

  var media = new $.oc.mediaManager.popup({
    alias: 'ocmediamanager',
    cropAndInsertButton: true,
    onInsert: function(items) {
      if (!items.length) {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_image_empty_insert'))
        return
      }
      if (items.length > 1) {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_file_single_insert'))
        return
      }
      if (items[0].documentType !== 'image') {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_image_invalid_insert', 'The file "'+items[0].title+'" is not an image.'))
        return;
      }      

      var picurl = '<?= $mediadir ?>' + items[0].path;

      opts.target.set('src', picurl);
      const fakeAsset = { get: () => picurl };
      opts.onSelect(fakeAsset);

      this.hide()
    }
  }) ;
}
});

<?php  } ?>


///Collapsed Category in Blocks when Grapes Editor is loaded

var categories = editor<?= $editorname ?>.BlockManager.getCategories();
categories.each(category => {
  category.set('open', false).on('change:open', opened => {
    opened.get('open') && categories.each(category => {
      category !== opened && category.set('open', false)
    })
  })
});





//Add Image Editor button
Editor.Panels.addButton('options',{
  id: 'image-editor',
  className: 'fa fa-picture-o',
  //togglable: false,
  command: {
    run: function(editor,  sender) {
      sender && sender.set('active', false);
      editor.runCommand('tui-image-editor');
    },
    stop: function(editor) {
      
    }
  },
  active: false,
  attributes: { title: 'Image Editor'},
});







//logo panel
var newPanel = Editor.Panels.addPanel({
  id: 'logo-Panel', 
});

$( ".gjs-pn-logo-Panel" ).hide();

//component:update:custom-name

editor<?= $editorname ?>.on('component:update:custom-name', (some, argument) => {
  c = editor<?= $editorname ?>.getComponents();  
  $('#<?=$formid?>-field-viewBag-page_builder_components').val(JSON.stringify(c));
});


//Update Event
editor<?= $editorname ?>.on('update', (some, argument) => {

  

  $('#<?=$formid?>-field-viewBag-page_builder_components').val(JSON.stringify(editor<?= $editorname ?>.getComponents()));         

  var data = editor<?= $editorname ?>.getHtml();

  var oldscript = $('#<?=$formid?>-field-viewBag-page_builder_scripts').val();

  var scriptfromhtml = "";
  
  var sri = data.match(/<script[\s\S]*?>[\s\S]*?<\/script>/gi);
  
  

  if (null != sri){
    
    sri.forEach((element) => {
     
     scriptfromhtml = scriptfromhtml +element;

   });

   $('#<?=$formid?>-field-viewBag-page_builder_scripts').val(decodeHtml(scriptfromhtml ));

 } else {

  if(data==""){
    $('#<?=$formid?>-field-viewBag-page_builder_scripts').val("");
  } else {
    $('#<?=$formid?>-field-viewBag-page_builder_scripts').val(decodeHtml(oldscript));
  }

}



//get only html

var div = document.createElement('div');
div.innerHTML = data;
var scripts = div.getElementsByTagName('script');
var i = scripts.length;
while (i--) {
  scripts[i].parentNode.removeChild(scripts[i]);
}

data = div.innerHTML;




function replaceSubStr(str, subStr, replacer)
{
  var newStr = '', n = subStr.length, N = str.length;

  for (var i = 0; i < N; i++)
    {  var j = i;
     while (j < i+n && str[j] === subStr[j-i]) j++;
     if (j === i+n)
       {  newStr += replacer;
        i += n-1;
      }
      else newStr += str[i];
    }

    return newStr;
  }

  data = replaceSubStr(data, ';}', ';}\n' );
  data = replaceSubStr(data, '{#', '{ #' );
  data = replaceSubStr(data, '\n\n', '' );

  data = data.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");


  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  data = html_beautify(data);

  var xmlData = decodeHtml(data);
  
  xmlData = vkbeautify.xml(xmlData);


  document.getElementById('<?=$id?>').value = xmlData;

  $('#<?=$formid?>-field-viewBag-page_builder_html').val(xmlData);
  
  var editorcss = editor<?= $editorname ?>.getCss();
  $('#<?=$formid?>-field-viewBag-page_builder_styles').val(editorcss);

  

});


var text = $('#<?=$id?>').val();
text = vkbeautify.xml(text);
text = text.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");
$('#<?=$id?>').val(text);


            //stop reload page when Enter pressed
$('form').attr('onsubmit', 'return false');

}

            //[PB4, PB4Blog, PB4snippets,PB4temptales,PB4landingpages, 'grapesjs-custom-code','grapesjs-tui-image-editor', 'grapesjs-style-gradient', 'grapesjs-style-filter', October

function defer(method) {
  if (window.PB4landingpages && window.PB4  && window.PB4Blog  && window.PB4snippets  && window.PB4October && window.PB4temptales && window.PB4CustomBlocks) {
    
   
    method();
  }
  else
    setTimeout(function() { defer(method) }, 500);
}

defer(loadeditor);

</script>


